<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bree Jobs Dashboard</title>
        <link rel="stylesheet" href="/public/vendor/uikit/css/uikit.min.css" />
        <style>
            .bree-dashboard .tm-navbar-container {
                background: linear-gradient(to left, #28a5f5, #1e87f0);
            }

            .bree-dashboard .tm-navbar-container .uk-logo {
                color: #fff;
            }
            .progress-bar-animation {
                background: linear-gradient(currentColor 0 0) top left/100% 3px no-repeat;
                animation: progress-bar 5s linear infinite;
            }

            @keyframes progress-bar {
                to {
                    background-size: 0% 3px;
                }
            }
        </style>
    </head>
    <body class="bree-dashboard">
        <nav class="uk-navbar-container uk-margin tm-navbar-container" uk-navbar>
            <div class="uk-container uk-flex-1">
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" href="/">Bree Dashboard</a>
                </div>
            </div>
        </nav>

        <div class="uk-container">
            {% block preContent %}{% endblock %}
            <div class="js-content-wrapper">{% block content %}{% endblock %}</div>
        </div>

        <div class="uk-container uk-text-center uk-margin-xlarge-top">
            Made with 💗 by
            <a href="https://github.com/ionutvmi">Mihai Ionut Vilcu</a>
        </div>

        <!-- UIkit JS -->
        <script src="/public/vendor/uikit/js/uikit.min.js"></script>
        <script src="/public/vendor/uikit/js/uikit-icons.min.js"></script>
        <script src="/public/js/client.js"></script>
    </body>
</html>
